# Database Configuration
DB_USERNAME=root
DB_PASSWORD=your_password
DB_DATABASE=jobsmentors
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DIALECT=mysql

# JWT Authentication Config
AUTH_SECRET=your_jwt_secret_key_here
AUTH_EXPIRES=10h
AUTH_ROUNDS=8

# Server Port
PORT=3000
