.label-Projects {
  color: white;
}

.button-Proyects {
  @apply text-lg;
}

.button-Proyects:hover {
  @apply shadow-xl;
}

th,
td {
  color: white;
  border: solid 1px lightgray;
  padding: .5rem;
  text-align: left;
}